/* Style the header logo */
#logo-img {
    width: 80%;
    display: block;
    margin: auto;
    padding: 20px;
}

/* Navbar styles */
#navbar {
  background: white;
  border: none;
  font-family: "Bodoni";
  margin: 0px;
  border-bottom: 1px solid #B690C1;
  border-radius: 0px;
}

#navbar a {
  color: #555;
}

#navbar a:hover {
  color: black;
}

#navbar .active a {
  background: white;
  font-style: italic;
  font-weight: bold;
  color: black;
}

#navbar.navbar-fixed-top {
  width: 80%;
  margin: auto;
}

/* Page content */
.content {
  padding: 16px;
  font-family: "Garamond";
  font-size: 16px;
  width: 80%;
  margin: auto;
}

/* Small logo styles */
#small-logo-img {
  height: 40px;
  margin: 5px;
  transition: visibility 0.5s, opacity 0.5s ease;
}

.show-logo {
  visibility: visible;
  opacity: 1;
}

.hide-logo {
  visibility: hidden;
  opacity: 0;
}

/* Sidebar workings */
body {
  overflow-x: hidden;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #E8DAEB;
}

#page {
  background-color: white;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
  -moz-transition: width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
  -o-transition: width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
  transition: width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #B690C1;
  -webkit-transition: width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
  -moz-transition: width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
  -o-transition: width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
  transition: width 0.5s ease, padding 0.5s ease, margin 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

#menu-toggle {
  position: fixed;
  height: 50px;
  width: 30px;
  background-color: #B690C1;
  border: none;
  border-radius: 0px;
  padding: 0px;
  -webkit-transition: margin 0.5s ease, width 0.1s linear;
  -moz-transition: margin 0.5s ease, width 0.1s linear;
  -o-transition: margin 0.5s ease, width 0.1s linear;
  transition: margin 0.5s ease, width 0.1s linear;
}

#menu-toggle:hover {
  width: 40px;
}

#menu-toggle.toggled {
  margin-left: 250px;
}

.sidebar-nav li a .glyphicon {
  margin-left: -40px;
  margin-top: 12px;
  font-size: 1.7em;
  padding: 0px;
  color: white;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Bodoni";
  font-size: 18px;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 70px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@media(min-width:1366px) {
  #wrapper.toggled {
    padding-left: 130px;
  }
}

.collapse li {
  margin-left: 30px;
  transition: margin 0.1s ease;
}

ul.dropdown-lr {
  width: 300px;
  font-family: "Bodoni";
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

#login-submit {
  background-color: #B690C1;
  border-radius: 0px;
  border: none;
}

.dropdown-menu {
  z-index: 1000;
  margin-top: -0.5px !important;
  border: 1px solid #B690C1;
  border-top: 2px solid white;
  border-radius: 0px;
  box-shadow: none;
}

#naslovnica {
  width: 100%;
}

.hints {
  font-size: 0.8em;
}

.form-horizontal .control-label{
   text-align:left !important; 
}

.titles {
  font-size: 1.2em;
}

.article {
  font-size:0.9em;
}